.trumbowyg-editor,
.trumbowyg-textarea{
    background-color: white;
    // height: 75vh;
    // min-height: 80vh;
}

.trumbowyg-box .trumbowyg-editor{
    min-height: 65vh;
    margin: 0 auto;
    // width: 75vw;
    // width: 50%;
}

.trumbowyg-button-pane{
    width: 100%;
}

.checkbox-apparence{
    width: 15px;
    height: 15px;
}

.header-apparence{
    display: flex;
    justify-content: space-around;
}

.label-apparence{
    margin-top: auto;
}