//Mediaqueries etc
#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-search-group{
    width: 1084px;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        text-decoration: underline;
        font-weight: bold;
    }
}

.add-article-search{
    display: flex;
    justify-content: space-between;
    & a{
        text-decoration: none;
        color: $black;
    }
}

.name-column{
    margin-top: 25px;
    display: flex;
    justify-content: flex-start;
}

.container-flexbox{
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.h1-article{
    text-align: center;
}

.link-add-article{
    color: black;
    text-decoration: none;
}

