body{
	margin: 0;
	font-family: $roboto;
	background-color: $theme-grey;
}


h1,h2{
	font-family: $roboto;
}

h1{
	font-size: rem(32);
}

h2{
	font-size: rem(16);
}

// p{
// 	line-height: 1.4em;
// }

// .container{
// 	max-width: 1140px;
// 	margin: auto;
// 	& > section{
// 		padding: 20px 0;
// 	}
// }




html{
    height: 100%;
	// background-color: red;
}
body{
    //display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
	font-family: $roboto;
	background-color: $theme-grey;
	// background-color: blue;
}
label{
	font-size: rem(12);
}

#content{
	width: 85%;
}

h1,h2{
	font-family: $roboto;
}

h1{
	font-size: rem(24);
}

h2{
	font-size: rem(16);
}






