.invitation-link{
    text-decoration: none;
    color: $black;
}

.modal-add {
    > .modal-wrapper{
        width: 550px;
    }
}

.modal-edit{
    @extend .modal-add;
}

.modal-delete{
    @extend .modal-add;
}

.title-modal 
    h1 {
    font-size: rem(21);
}

.details-part{
    // display: flex;
    margin: 15px;
    > label {
        text-align: left;
        font-size: rem(16);
    }
    > input {
        margin-left: 10px;
    }
    > select {
        margin-left: 10px;
    }
}