.form__field {
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $dark-blue;
  padding: 7px 0;
  background: transparent;

  &_articles_input{
    display: flex;
  }
}

