.input{
    background: #DAEFFE;
    border: 1px solid #328DAA;
    box-sizing: border-box;
    border-radius: 20px;
    outline: none;
    margin-top: 5px;
    height:  30px;
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 30px;
}
