/* Search box */

.search-box{
    display: flex;
    align-items: center;
}

.search-box input{
  background-color: $theme-light-blue;
  border-radius: 3px;
  border-color: $dark-blue;
  border-width: 1px;
  color: $dark-blue;
  outline: none;
}
::placeholder{
  color: $dark-blue;
  left: 20px;
}

input[type="text"]::placeholder{
  padding-left: 10px;
}
