*{
	box-sizing: border-box;
}

body{
  margin: 0;
}

header{
  background-color: $theme-grey;
  border: 1px solid $theme_purple;
  filter: drop-shadow(0px 4px 4px $shadow-blocks);
}

#nav-top-left{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px !important;
}

#nav-top-right{
  display: flex;
  align-items: center;
}

.link-nav-bar{
  display: flex;
  align-items: center;
	justify-content: center;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	&:hover{
		color: $dark-blue;
	}
	&:before{
		content: "";
	  position: absolute;
	  z-index: -1;
	  left: 51%;
	  right: 51%;
    top: 42px;
	  background: $dark-blue;
	  height: 4px;
	  -webkit-transition-property: left, right;
	  transition-property: left, right;
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-timing-function: ease-out;
	  transition-timing-function: ease-out;
	}
	&:hover:before, &focus:before, &active:before{
		left: 0;
	  right: 0;
	}
	img{
		width: 19px;
		height: 18px;
		margin-right: 9px;
		&:hover{
			transition: all 2s;
		  transform: rotate(1080deg);
		}
	}

}


.logo:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: $logo-blue;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.logo:hover:before, .logo:focus:before, .logo:active:before {
  left: 0;
  right: 0;
}

#profile_id{
  img{
    margin-left: 10px;
  }
}


